<%= render 'shared/navbar' %>

<div class="location-show-container">

  <div class="address">
    <%= @location.address %>
  </div>

  <div class="photo-banner">
  <%= cl_image_tag @location.final_pics.first.photo.key, :quality=>"auto", :gravity=>"auto", :crop=>"fill" %>
  </div>

  <div class="photo-cards">
    <% @location.final_pics.each do |final_pic| %>
      <% if final_pic.photo.attached? %>
        <div class="photo-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path final_pic.photo.key, :quality=>"auto" %>')"></div>
      <% else %>
        <div class="photo-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dlzehsqej/image/upload/v1614934364/Screenshot_2021-03-05_at_17.48.27_l9asdj.png')"></div>
      <% end %>
    <% end %>
  </div>

  <div class="icons-row">
    <div class="icons">
      <%= link_to image_tag("https://res.cloudinary.com/dlzehsqej/image/upload/v1614851879/map_yhtlqb.png"), locations_path %>
    </div>
    <div class="icons">
      <%= link_to image_tag("https://res.cloudinary.com/cyee3012/image/upload/v1614408344/camera_mlxbk0.png"), new_location_benchmark_pic_path(@location) %>
    </div>
    <div class="icons">
        <%= link_to image_tag("https://res.cloudinary.com/dlzehsqej/image/upload/v1614931296/position_coedmt.png"), "http://www.google.com/maps/place/#{@location.latitude},#{@location.longitude}" %>
    </div>
  </div>
</div>

