<div> photo from the map </div>

<div> photos that people took </div>


<div class= "card">
<% cl_image_tag @location.final_pics.first.photo.key %>
</div>




<div class="cards">

  <% @location.final_pics.each do |final_pic| %>
    <% if final_pic.photo.attached? %>
      <div class="card"> <%= cl_image_tag final_pic.photo.key %> </div>
    <% else %>
      <%= image_tag 'beach.jpg' %>
    <% end %>
  <% end %>

</div>




<div> navigation bar </div>


<div class="cards">
  <div class="card-category" style="">
    <%= link_to "Map", locations_path %>
  </div>

  <div class="card-category" style="">
    <%= link_to "Camera", new_location_benchmark_pic_path(@location) %>
  </div>

  <div class="card-category" style="">
    <%= link_to "Direction", "http://www.google.com/maps/place/#{@location.latitude},#{@location.longitude}" %>
  </div>
</div>
