<%= stylesheet_pack_tag 'application' %>
<!DOCTYPE html>
<html>
  <head>
    <title>Croppi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6042e4ad9c00ae0011d4179d&product=sop' async='async'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <%= render 'shared/flashes' %>
  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
